---
---

<footer class="bg-gray-50">
	<div class="container mx-auto px-4 py-6">
		<div class="flex flex-col md:flex-row justify-between items-center">
			<p class="text-gray-600">© {new Date().getFullYear()} To-me-OK. All rights reserved.</p>
			<div class="flex space-x-4 mt-4 md:mt-0">
				<a href="https://github.com/motoakitom" class="text-gray-600 hover:text-gray-900" aria-label="GitHub">
					<i class="fab fa-github fa-lg"></i>
				</a>
				<a href="https://twitter.com/motoakitom" class="text-gray-600 hover:text-gray-900" aria-label="Twitter">
					<i class="fab fa-twitter fa-lg"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
